.App {
  text-align: center;
  padding-top:20%;
  background: linear-gradient(#e66464ad, #9198e59c);
  height:775px;
  width:100%;
}

button{
  width:350px;
  text-align: center;
  border-radius: 50px !important;
  padding-bottom: 20%;
}
button div{
  margin-left: 20%;
}